* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  height: inherit;
}

.nav-container {
  background-color: rgb(38, 81, 197);
  position: relative;
  width: 200px;
  color: white;
  transition: width 0.2s;
}
.collapse-btn {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.collapse-btn {
}

.nav-link {
  display: flex;
  align-items: center;
  list-style: none;
  line-height: 3rem;
}

.nav-link-icon {
  font-size: 50px;
  line-height: 100px;
  margin: 15px;
}
.nav-link > a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-left: 20px;
}

.nav-link:hover {
  background-color: #6992dd;
}

.main-container {
  overflow-y: auto;
}

.collapse-btn {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 1px;
}

.collapse {
  width: 90px;
}
.collapse .nav-link .nav-link-text {
  visibility: hidden;
}

.collapse > .collapse-btn {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.main-container {
  padding-left: 10px;
}
